h1
{
    color: green !important;
font-weight: bold !important;
}

i 
{
    font-size: 1.2rem !important;
}
.card-body {
    height: 700px;
    overflow-y: auto;
    
}

.bd-mode-toggle
{
    z-index: 10 !important;
}